{% extends "personal/header.html" %}
{% block content %}
<!--<p>HOME PAGE</p>-->
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
  <!--<input type="file" name="zerodha_file" id="zerodha_file" accept="csv/*">-->
  <input type="file" name="zerodha_file" id="zerodha_file">
  <input type="submit", value="Upload zerodha account statement">
</form>
<br>
<br>
{{ parse_result |safe }}
{% if all_stock_data %}
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">SYMBOL</th>
    <th scope="col">Qty</th>
    <th scope="col">Avg. cost</th>
    <th scope="col">LTP</th>
    <th scope="col">Inv. val</th>
    <th scope="col">Cur. val</th>
    <th scope="col">P&L</th>
    <th scope="col">Realised Profit</th>
  </tr>
   </thead>
{%  for stock_data in all_stock_data %}
  <tr>
    <th scope="row">{{ stock_data.tradingsymbol }}</th>
    <th>{{ stock_data.current_count }}</th>
    <th>{{ stock_data.current_avg_price}}</th>
    <th>NA</th>
    <th>{{ stock_data.current_total_val}}</th>
    <th>NA</th>
    <th>NA</th>
    <th>{{ stock_data.profit_booked }}</th>
  </tr>
{% endfor %}
</table>
{% endif%}
{% endblock %}
